<div class="img-caption carousel-home">
    <div class="carousel-caption">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="item shadow-item">
                    <div class="">
                        <div class="journal">
                            <img src="../../../assets/img/journal1.png">
                        </div>

                    </div>
                    <div class="Voir text-center">
                        <a href="#">Voir plus ></a>
                    </div>

                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item shadow-item">
                    <div class="">
                        <div class="journal">
                            <img src="../../../assets/img/journal1.png">
                        </div>

                    </div>
                    <div class="Voir text-center">
                        <a href="#">Voir plus ></a>
                    </div>

                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item shadow-item">
                    <div class="">
                        <div class="journal">
                            <img src="../../../assets/img/journal1.png">
                        </div>

                    </div>
                    <div class="Voir text-center">
                        <a href="#">Voir plus ></a>
                    </div>

                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item shadow-item">
                    <div class="">
                        <div class="journal">
                            <img src="../../../assets/img/journal1.png">
                        </div>

                    </div>
                    <div class="Voir text-center">
                        <a href="#">Voir plus ></a>
                    </div>

                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>