<section class="solution">
    <div class="container">
        <h2>NOS SOLUTIONS</h2>
    </div>
</section>
<section class="international">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="">
                    <img src="../../assets/img/inter.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="btp-inter">
                    <h3>BTPMAT <br>- International</h3>
                    <p>Profitez de notre expérience dans le domaine du transit et confiez vos importations a netti-ci (nouvelle entreprise de transport et de transit international en côte d’ivoire). créée afin de faciliter les importations</p>
                    <div class="">
                        <a routerLink="/international">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row direction-columun">
            <div class="col-lg-6 p-0">
                <div class="btp-inter">
                    <h3>Vos Travaux <br>- d'Aluminium</h3>
                    <p>Nous mettons a votre disposition des professionnels de la cuisine sur mesure afin de vous permettre d’atteindre le confort maximal et de profiter au maximum de votre espace culinaire privé. du sur mesure </p>
                    <div class="">
                        <a routerLink="/travaux-aluminium">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="">
                    <img src="../../assets/img/cuisine.png" alt="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="">
                    <img src="../../assets/img/travaux.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="btp-inter">
                    <h3>Vos Travaux <br>- d'Aluminium</h3>
                    <p>Depuis prêt de 5 ans, nos réalisation en travaux d’aluminium et d’inox parlent en notre faveur. N’hesitez pas a nous confier votre projet. nous nous ferons un plaisir </p>
                    <div class="">
                        <a routerLink="/equipe-aluminium">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row direction-columun">
            <div class="col-lg-6 p-0">
                <div class="btp-inter">
                    <h3>Réalisation de <br>- site e-commerce</h3>
                    <p>Parce que nous souhaitons le bonheur de tous, nous vous encourageons de vous lancer dans le e-commerce afin de rejoindre ce grand mouvement mondial et de découvrir des horizons sans fin et des</p>
                    <div class="">
                        <a routerLink="/site-commerce">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="">
                    <img src="../../assets/img/new.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<router-outlet></router-outlet>