<div class="store-carousel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="">
                <img class="d-block w-100" src="../../../assets/img/application.png" alt="First slide">
            </div>
            <h3><span class="btp-store">BTPMAT</span> sur les stores</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h4>Télécharger l'application</h4>
            <div class="d-flex reseaux">
                <div class="">
                    <a href="">
                        <img src="../../../assets/img/android.png" alt="">

                    </a>
                </div>
                <div class="">
                    <a href="">
                        <img src="../../../assets/img/ios.png" alt="">

                    </a>
                </div>
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="">
                <img class="d-block w-100" src="../../../assets/img/application.png" alt="First slide">
            </div>
            <h3><span class="btp-store">BTPMAT</span> sur les stores</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h4>Télécharger l'application</h4>
            <div class="d-flex reseaux">
                <div class="">
                    <a href="">
                        <img src="../../../assets/img/android.png" alt="">

                    </a>
                </div>
                <div class="">
                    <a href="">
                        <img src="../../../assets/img/ios.png" alt="">

                    </a>
                </div>
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="">
                <img class="d-block w-100" src="../../../assets/img/application.png" alt="First slide">
            </div>
            <h3><span class="btp-store">BTPMAT</span> sur les stores</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h4>Télécharger l'application</h4>
            <div class="d-flex reseaux">
                <div class="">
                    <a href="">
                        <img src="../../../assets/img/android.png" alt="">

                    </a>
                </div>
                <div class="">
                    <a href="">
                        <img src="../../../assets/img/ios.png" alt="">

                    </a>
                </div>
            </div>

        </ng-template>

    </ngb-carousel>


</div>