<section class="solution1">
    <div class="">
        <img src="../../../assets/img/solution2.png" alt="">
    </div>
</section>
<section class="international1">
    <div class="container">

        <div class="">
            <div class="btp-inter">
                <h3>Cuisine sur Mesure</h3>

                <p> Nous mettons a votre disposition des professionnels de la cuisine sur mesure afin de vous permettre d’atteindre le confort maximal et de profiter au maximum de votre espace culinaire privé. du sur mesure bois, mdf à l’aluminium, nous saurons
                    en fonction de votre idée vous accompagner dans la transformation de vos idées en réalité. des plans a la concpetions 3d et pour finir la réalisation, vous vous plairez a travailler avec notre architecte et nos équipes technico-commerciales.
                </p>
                <p>cependant, netti-ci peut aussi bien s’occuper des démarches douanières de vos importations via son burau de transit. n’hésitez pas a nous contacter et profitez pleinement de notre expérience et nos offres. </p>
                <p> n’attendez plus ! nous sommes pressés de travailler avec vous ! </p>
                <p>parlez nous de votre projet par email : cuisine@btpmat.ci ou contactez nous au +225 22 51 36 36. </p>

            </div>
        </div>
    </div>


</section>