<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 col-sm-6 col-md-6">
                <div class="footer-img">
                    <img src="../../../assets/img/logo-footer.png">
                </div>
                <p>BTPMAT Prochain offciel de l'académie</p>
                <span>Zézéto Football School</span>
                <br><br>
                <p>Association Espoire I voire</p>
                <span>BTPMAT au secours de plus d"nullus</span>
                <br><br>
                <a href="#">En savoir plus</a>

            </div>
            <div class="col-lg-3 col-12 col-sm-6  col-md-6">
                <p class="title-footer">BTPMAT</p>
                <ul>
                    <li>
                        <a routerLink="/">Accueil</a>
                    </li>
                    <li>
                        <a routerLink="/boutique">Boutique</a>
                    </li>
                    <li>
                        <a routerLink="/destockage">Déstockage</a>
                    </li>
                    <li>
                        <a routerLink="/nos-solutions">Nos solutions</a>
                    </li>
                    <li>
                        <a routerLink="/actualite">Actualité</a>
                    </li>
                    <li>
                        <a routerLink="/demande-devis">Demandez un devis</a>
                    </li>
                    <li>
                        <a routerLink="">Mentions légales</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 ol-12 sol-sm-12  col-md-12">
                <p class="title-footer">PAIMENT SÉCURISÉ</p>
                <div class="row">
                    <div class="col-lg-4 col-6 col-sm-6 col-md-4 mt-2 pl-0">
                        <a href="#">
                            <img src="../../../assets/img/visa.png">
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 col-sm-6 col-md-4 mt-2 pl-0">
                        <a href="#">
                            <img src="../../../assets/img/paypal.png">
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 col-sm-6 col-md-4   mt-3 mt-md-2  pl-0">
                        <a href="#">
                            <img src="../../../assets/img/mastercard.png">
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 col-sm-6 col-md-4  mt-3 pl-0">
                        <a href="#">
                            <img src="../../../assets/img/cheque.png">
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 col-sm-6 col-md-4  mt-3 pl-0">
                        <a href="#">
                            <img src="../../../assets/img/virement.png">
                        </a>
                    </div>
                </div>
                <div class="row android-footer">
                    <div class="col-lg-6 col-12 col-sm-12 col-md-6">
                        <a href="#">
                            <img src="../../../assets/img/ios.png">
                        </a>
                    </div>
                    <div class="col-lg-6 col-12 col-sm-12  col-md-6">
                        <a href="#">
                            <img src="../../../assets/img/android.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-12   ">
                        <p class="title-footer">GET IN TOUCH</p>
                        <span class="PHONE">MAIN OFFICE:</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-12    ">
                        <p class="adresse mt-3">SA Tower (Level-5), Plot#1,Road#134, Block SE(A), Gulshan-1, Dhaka 1212.</p>
                        <span class="PHONE">PHONE</span>
                    </div>
                </div>


                <div class="row adresse mt-3">
                    <div class="col-lg-6">
                        <p>+00 124 224 220</p>
                    </div>
                    <div class="col-lg-6">
                        <p>+00 221 472 720</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>


<div class="COPYRIGHTS">

    <p>© COPYRIGHTS 2019 <span class="">BTPMAT</span>. ALL RIGHTS RESERVED</p>
</div>