.home-dashboard .dashboard-bg {
    background: #f8f8f8;
    text-align: center;
    max-width: 6.3333%;
    padding-top: 8%;
    padding-right: 0;
}

.home-dashboard .dashbord-devis {
    padding: 50px 75px;
}

@media screen and (max-width:991px) {
    .home-dashboard .dashboard-bg {
        max-width: 100%
    }
    .home-dashboard .dashbord-devis {
        padding: 25px 17px;
    }
}