<section class="actualite1">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <div class="social">
                    <a href="#">facebook</a>
                    <a href="#">twitter</a>
                    <a href="#">youtube</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="swivre-actualite animated zoomIn">

                    <h2><span>BTPMAT</span> vous propose de découvrir et de suivre son actualité à travers ses différents sujets.</h2>
                    <div class="read-more">
                        <a href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="masque animated fadeIn ">
                    <img src="../../../assets/img/masque.png">
                </div>




                <owl-carousel-o [options]="customOptions">
                    <div class="owl-carousel owl-theme">
                        <ng-template carouselSlide>
                            <div class="item text-center materiel-btp">
                                <div class="">
                                    <div class="journal">
                                        <img src="../../../assets/img/lemonde.png">
                                    </div>

                                </div>


                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="item text-center materiel-btp">
                                <div class="">
                                    <div class="journal">
                                        <img src="../../../assets/img/lemonde.png">
                                    </div>

                                </div>


                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="item text-center materiel-btp">
                                <div class="">
                                    <div class="journal">
                                        <img src="../../../assets/img/lemonde.png">
                                    </div>

                                </div>


                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="item text-center materiel-btp">
                                <div class="">
                                    <div class="journal">
                                        <img src="../../../assets/img/lemonde.png">
                                    </div>

                                </div>


                            </div>
                        </ng-template>
                    </div>

                </owl-carousel-o>

                <div class=" scroll-down">
                    <div class="scroll">
                        <p>scroll down</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<app-nos-actualite></app-nos-actualite>