<div class="banque">
    <p>Home / Dashboard / Panier / <span>Paiement</span></p>
    <div class="">
        <div class="d-flex">
            <div class="Paiement">
                <img src="../../../assets/img/shopping-paie.png" alt="">
                <span>Paiement</span>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="mt-4">
                <h3>3 . Passer au paiement</h3>
            </div>

            <div class="border-visa">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="drone">
                            <label class="form-check-label">
                                    Credit Card
                                </label>
                            <p class="p-label">Safe money transfer using your bank account. Visa, Maestro, Discover, American Express.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="visa-carte">
                            <img src="../../../assets/img/credit1.png" alt="">
                            <img src="../../../assets/img/credit2.png" alt="">
                            <img src="../../../assets/img/credit3.png" alt="">
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label class="inputAddress">CARD NUMBER</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="0000 0000 0000 0000">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="inputAddress">NAME ON CARD</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="inputAddress">EXPIRY DATE</label>
                        <input type="text" class="form-control" id="inputCity" placeholder="MM / YY">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="inputAddress">CVV CODE</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
            </div>
            <div class="border-visa">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="drone">
                            <label class="form-check-label">
                                                PayPal
                                        </label>
                            <p class="p-label">You will be redirected to PayPal website to complete your purchase securely.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="visa-carte">
                            <img src="../../../assets/img/paypal1.png" alt="">

                        </div>

                    </div>

                </div>
            </div>
            <div class="border-visa">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="option1" name="drone">
                            <label class="form-check-label">
                                        Virement bancaire
                                </label>
                            <p class="p-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="visa-carte">
                            <span>Virement</span>

                        </div>

                    </div>

                </div>
            </div>
            <div class="border-visa">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio">
                            <label class="form-check-label">
                                        Chèque bancaire
                                </label>
                            <p class="p-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="visa-carte">
                            <span>Chèque</span>
                        </div>

                    </div>

                </div>
            </div>





        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="information">
                <div class="d-flex info-livraison">
                    <div class="mr-3">
                        <img src="../../../assets/img/livraison.svg">
                    </div>
                    <div class="d-flex ">
                        <p>Information de livraison</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-4">
                        <img src="../../../assets/img/home.svg">
                    </div>
                    <div class="d-flex">
                        <p>Adresse:
                            <span class="ml-2"> No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-3">
                        <img src="../../../assets/img/contact.svg">
                    </div>
                    <div class="d-flex mt-2">
                        <p>Contact :</p>
                        <span class="ml-2">12334645</span>
                    </div>
                </div>

            </div>
            <div class="Résumé ">
                <div class="d-flex">
                    <div class="mr-2">
                        <img src="../../../assets/img/resume-panier.svg">
                    </div>
                    <div class=" ">
                        <span>Résumé Panier</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Total hors remise :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>Gratuite</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Remise immédiate :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>€ 0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Frais de livraison :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>Gratuite</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Total à payer :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>€ 1000.90</p>
                    </div>
                </div>
            </div>
            <div class="valider">
                <a routerLink="validation">VALIDER</a>
            </div>
        </div>
    </div>
</div>