<section class="carte">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6384.670503879482!2d10.260003129008616!3d36.85839345039459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1562593451616!5m2!1sfr!2stn" width="100%" height="550" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 OFFICE">
                <div class="row">
                    <div class="col-lg-2  pr-0">
                        <img src="../../../assets/img/map.png">
                    </div>
                    <div class="col-lg-10">
                        <p>OFFICE ADDRESS</p>
                        <span>288 Hudson St, New York, NY 121</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 pr-0 ">
                        <img src="../../../assets/img/Call.png">
                    </div>
                    <div class="col-lg-10">
                        <p>TOLL FREE NUMBER</p>
                        <span>(00) 122 224 220, (00) 221 472 720</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2 pr-0">
                        <img src="../../../assets/img/Mail.png">
                    </div>
                    <div class="col-lg-10">
                        <p>SEND MAIL</p>
                        <span>info@btpmat.com</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>