<section class="electricity">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-12 col-sm-12 col-md-6 marque">
                <span class="PROTECT">ELECTRICITY</span>
                <div class="meilleur-equipe">
                    <p class="">LES PLUS MEILLEURS MARQUE DE <span class="ELECTRIQUES">MATERIELS ELECTRIQUES </span> LIVRÉS DIRECTEMENT SUR VOTRE <span class="CHANTIER">CHANTIER.</span></p>
                </div>
                <div class="demandez">
                    <a href="#">DEMANDEZ UN DEVIS</a>
                </div>



            </div>
            <div class="col-lg-7 col-xl-7 col-12 col-sm-12 col-md-6">
                <ngb-carousel #carousel interval="10000000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
                    <ng-template ngbSlide *ngFor="let img of images; index as i">

                        <div class="index-img">
                            <h3>{{i + 1}} / {{images.length}}</h3>
                        </div>


                        <a href="" target="_blank" rel="nofollow noopener noreferrer">
                            <div class="picsum-img-wrapper">
                                <img [src]="img" alt="My image {{i + 1}} description">
                            </div>
                        </a>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>


</section>