<section class="select-marque ">
    <div class="container ">
        <div class="">
            <img src="../../../assets/img/line-rouge.png" alt="">
        </div>
        <div class="text-center ">
            <h5>{{brand.name}}</h5>
        </div>
        <div class="">
            <img src="../../../assets/img/line-rouge.png" alt="">

        </div>

    </div>
</section>


<div class="boutique-ingco ">
    <div class="container ">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let category of brand.categories">
                <div class="item ">
                    <h4>{{category.name}}</h4>
                </div>
            </ng-template>

        </owl-carousel-o>



    </div>
</div>