<section class="commande">
    <div class="opacity"></div>
    <div class="container">
        <div class="text-center confiance ">


            <p>ILS NOUS FAIT CONFIANCE</p>
            <h4 class="wow zoomIn">COMMANDEZ AUSSI SUR BTPMAT</h4>
            <h5>It’s rainy today; the fire in the stove is burning brightly. The house</h5>
            <div class="Commandez">
                <a href="#">Commandez</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 wow slideInUp">
                <span>The Summit</span>
                <p>You only live once. A phrase adopted and since-overused by popular culture, it is actually rooted in truth. You should always be pushing your boundaries, striving for your most difficult goals, and scaring yourself every day with something
                    new.
                </p>
                <div class="man-img">
                    <img src="../../../assets/img/flip.png" alt="">
                    <span>Filip Osklen</span>
                </div>
            </div>
            <div class="col-lg-5 wow slideInUp">
                <span>Other Worldly</span>
                <p>It’s rainy today; the fire in the stove is burning brightly. The house enfolds me in its lustrous timber walls with their fine scent of wood. It’s doing me good to be in Leis. I am just sitting here, quite still, looking.</p>
                <div class="man-img magin-photo">
                    <img src="../../../assets/img/rachel.png" alt="">
                    <span>Rachel Robert</span>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>