<section class="store wow fadeIn" data-wow-delay="1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 col-sm-12 application">
                <h6><span>BTPMAT</span> sur les stores</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <div class="application-ios">
                    <p>Télécharger l'application</p>
                    <div class="row">
                        <div class="col-lg-4 col-12 col-sm-12 col-md-6 ios-img">
                            <a href="#">
                                <img src=".././../../assets/img/ios.png" alt="">

                            </a>
                        </div>


                        <div class="col-lg-4 col-12 col-sm-12 col-md-6 android-img">
                            <a href="#">
                                <img src=".././../../assets/img/android.png">

                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-6 col-sm-12 col-12 col-sm-12">
                <div class="code-img">
                    <div class="">
                        <img src=".././../../assets/img/code-appli.png">
                    </div>
                    <p>Scan the QR CODE to download the app</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                <img src=".././../../assets/img/application.png">
            </div>
        </div>
    </div>
</section>