<div class="publicite wow flash">
    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/sotaci.png" alt="">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/sotici.png" alt="">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/ingco1.png" alt="">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/facom.png" alt="">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/rak.png" alt="">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/Ingelec.png" alt="">
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="item">
                <img src="../../../assets/img/ABB.png" alt="">
            </div>
        </ng-template>


    </owl-carousel-o>

</div>