<section class="slider-home">
    <div class="img-opacity"></div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/Clip.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction2.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction3.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction4.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction5.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction6.png">
            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img/bg-construction7.png">
            </div>

        </ng-template>

    </ngb-carousel>
    <div class="caption-text">
        <div class="carousel-caption">
            <span class="cotés">A vos Côtés pour</span>
            <p class="disponiblité"><span class="qualité">La qualité,</span> La disponiblité Les prix et Le service.</p>
            <span class="Lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                  laboris nisi ut aliquip ex ea commodo consequat.</span>
            <div class="demande-devis mt-3">
                <a routerLink="/demande-devis">
                  Demander un devis
                  <img src="../../../assets/img/arrow.png">
                </a>
            </div>
        </div>
    </div>
</section>