<section class="FOURNITURE">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12 col-sm-12">
                <div class="FOURNITURE-pose">
                    <span>FOURNITURE ET POSE DE</span>
                    <p>PAVÉS AUTOBLOCANTS <span class="GARANTIE">GARANTIE</span> MEIELLEUR QUALITÉ DU MARCHÉ ET PRIX</p>
                </div>
                <div class="btn-devis">
                    <a href="#">DEMANDEZ UN DEVIS</a>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-12 col-sm-12 d-none d-lg-block">
                <div class="pavés">
                    <img src="../../../assets/img/pavés.png" alt="">
                </div>
            </div>

        </div>
    </div>

</section>