<section class="skilled">
    <div class="container">
        <div class="OFFERING text-center">
            <span>WE ARE SKILLED FOR</span>
            <p><span class="what">WHAT</span> WE ARE OFFERING</p>
            <div class="consetetur ">
                <p class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>

            </div>


        </div>
        <div class="bg-jaune">

            <div class="row logistique-qualite logistique-bg">
                <div class="col-lg-3 wow fadeInUp col-md-5 text-center logistique logistique-bg" data-wow-delay="0.25s">
                    <div class="">
                        <img src="../../../assets/img/expert.png">
                    </div>
                    <p>Logistique à la pointe</p>
                    <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</span>

                </div>
                <div class="col-lg-1   d-none d-lg-block "></div>
                <div class="col-lg-3 wow fadeInUp col-md-5 text-center qualite logistique-bg" data-wow-delay="0.5s">
                    <div class="">
                        <img src="../../../assets/img/engagement.png">
                    </div>
                    <p>Engagement Qualité</p>
                    <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</span>

                </div>
                <div class="col-lg-1 d-none d-lg-block "></div>

                <div class="col-lg-3 wow fadeInUp col-md-5 text-center pointe logistique-bg" data-wow-delay="0.75s">
                    <div class="">
                        <img src="../../../assets/img/logistique.png">
                    </div>
                    <p>Logistique à la pointe</p>
                    <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</span>

                </div>
            </div>
        </div>




    </div>
</section>