<div class="promotions">
    <p>Home / Dashboard / <span>Offres et promotions</span></p>
    <hr>
    <div class="offres">
        <div class="row">
            <div class="col-lg-11">
                <div class="offres-ingco" *ngFor="let offre of offres">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="ingco-rouge">INGCO</p>

                        </div>
                        <div class="col-lg-6 date">
                            <p>23-12-2018</p>
                            <p class="date-orange">12-12-2019</p>
                        </div>


                    </div>
                    <div class="">
                        <img src="../../../assets/img/ingco-promotion.png" alt="">
                    </div>
                </div>
                <!--
                <div class="offres-ingco">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="ingco-rouge">KAISER</p>

                        </div>
                        <div class="col-lg-6 date ">
                            <p>23-12-2018</p>
                            <p class="date-orange">12-12-2019</p>

                        </div>


                    </div>
                    <div class="">
                        <img src="img/promotion2.png" alt="">
                    </div>
                </div>
                <div class="offres-ingco">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>INGCO</p>

                        </div>
                        <div class="col-lg-6 date">

                            <p class="">12-12-2019</p>
                            <p class="date-orange">12-12-2019</p>


                        </div>

                    </div>
                    <div class="">
                        <img src="img/promotion3.png" alt="">
                    </div>

                </div>


                <div class="offres-ingco">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>INGCO</p>

                        </div>
                        <div class="col-lg-6 date">
                            <p>23-12-2018</p>
                            <p class="date-orange">12-12-2019</p>
                        </div>


                    </div>
                    <div class="">
                        <img src="img/promotion3.png" alt="">
                    </div>
                </div>
            -->
            </div>
        </div>

    </div>

</div>