<section class="CONSEIL">
    <div class="container">
        <div class="BUILDER">
            <h6>YOU ARE MOST</h6>
            <p>WELLCOME TO <span class="STRUC">STRUC</span> BUILDER</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        </div>
        <div class="row text-center">
            <div class="col-lg-1 CONSEIL-1"></div>
            <div class="col-lg-3 wow fadeInLeft CONSEIL-pros CONSEIL-pros1">
                <div class="">
                    <img src="../../../assets/img/interview.png">
                </div>
                <p>CONSEIL DE NOS PROS</p>
                <span>Lorem ipsum dolor sit am consecteturadipiscing elit, sed do eiusmod tempor incididunt ut labore aliquip ex ea commodo consequat.</span>
                <div class="READ">
                    <a href="#">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-3 wow zoomInDown CONSEIL-pros CONSEIL-pros2">
                <div class="">
                    <img src="../../../assets/img/architect.png">
                </div>
                <p>ARCHITECT GRATUIT</p>
                <span>Lorem ipsum dolor sit am consecteturadipiscing elit, sed do eiusmod tempor incididunt ut labore aliquip ex ea commodo consequat.</span>
                <div class="READ">
                    <a href="#">READ MORE</a>
                </div>
            </div>
            <div class="col-lg-3 wow fadeInRight CONSEIL-pros conseil-pros3">
                <div class="">
                    <img src="../../../assets/img/parquet.png">
                </div>
                <p>SPECIAL CARRELAGE</p>
                <span>Lorem ipsum dolor sit am consecteturadipiscing elit, sed do eiusmod tempor incididunt ut labore aliquip ex ea commodo consequat.</span>
                <div class="READ">
                    <a href="#">READ MORE</a>
                </div>

            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

</section>