<section class="skilled">
    <div class="container">
        <div class="OFFERING text-center">
            <span class="line-skilled">WE ARE SKILLED FOR</span>
            <p><span class="what">WHAT</span> WE ARE OFFERING</p>
        </div>


        <div class="row mt-5">
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block1 wow fadeInUp" data-wow-delay="0.25s">
                <div class="img-offre">
                    <img src="../../../assets/img/conseil-pro.png">
                </div>
                <p>Conseil des pro</p>
                <span onclick="clamp(this)">les commerciaux des négoces en matériaux de construction, adhérents starmat, sont... habitués à travailler au quotidien avec les professionnels du bâtiment : maçons, plâtriers, plaquistes, charpentiers, couvreurs, menuisiers, plombiers, carreleurs, peintres ou électriciens sollicitent tous les jours nos vendeurs.</span>
            </div>
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block2 wow fadeInUp" data-wow-delay="0.5s">
                <div class="img-offre">
                    <img src="../../../assets/img/service.png">
                </div>
                <p>services personalises</p>
                <span onclick="clamp(this)">parce que votre projet est unique, les équipes des négoces en matériaux de... construction, adhérents starmat, sont là pour vous écouter et vous proposer des solutions, suivant les points de vente, adaptées à vos besoins.</span>                </div>
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block3 wow fadeInUp" data-wow-delay="0.75s">
                <div class="img-offre">
                    <img src="../../../assets/img/devis.png">
                </div>
                <p>devis gratuit</p>
                <span onclick="clamp(this)">parce que votre budget n'est pas illmité, les négoces en matériaux de construction.., adhérents starmat, vous proposent des devis gratuits pour tous vos projets : assainissement, gros-oeuvre, isolation, cloison, couverture, charpente, menuiserie extérieur ou menuiserie intérieur, carrelage, plomberie, sanitaire, chauffage, décoration, peinture ou anénagement extérieur.</span>
            </div>
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block4 wow fadeInUp" data-wow-delay="1s">
                <div class="img-offre">
                    <img src="../../../assets/img/materiaux.png">
                </div>
                <p>materiaux aux normes</p>
                <span>parce que votre budget n'est pas illmité, les négoces en matériaux de construction.., adhérents starmat, vous proposent des devis gratuits pour tous vos projets : assainissement, gros-oeuvre, isolation, cloison, couverture, charpente, menuiserie extérieur ou menuiserie intérieur, carrelage, plomberie, sanitaire, chauffage, décoration, peinture ou anénagement extérieur.</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block5 wow fadeInUp" data-wow-delay="1.25s">
                <div class="img-offre">
                    <img src="../../../assets/img/stock.png">
                </div>
                <p>stock permanant</p>
                <span>les commerciaux des négoces en matériaux de construction, adhérents starmat, sont... habitués à travailler au quotidien avec les professionnels du bâtiment : maçons, plâtriers, plaquistes, charpentiers, couvreurs, menuisiers, plombiers, carreleurs, peintres ou électriciens sollicitent tous les jours nos vendeurs.</span>
            </div>
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block6 wow fadeInUp" data-wow-delay="1.5s">
                <div class="img-offre">
                    <img src="../../../assets/img/delais.png">
                </div>
                <p>dÉlais respectÉs</p>
                <span>parce que votre projet est unique, les équipes des négoces en matériaux de... construction, adhérents starmat, sont là pour vous écouter et vous proposer des solutions, suivant les points de vente, adaptées à vos besoins.</span>                </div>
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block7 wow fadeInUp" data-wow-delay="1.75s">
                <div class="img-offre mt-3">
                    <img src="../../../assets/img/livraison-rapide.svg">
                </div>
                <p>LIVRAISONS RAPIDES</p>
                <span>parce que votre budget n'est pas illmité, les négoces en matériaux de construction.., adhérents starmat, vous proposent des devis gratuits pour tous vos projets : assainissement, gros-oeuvre, isolation, cloison, couverture, charpente, menuiserie extérieur ou menuiserie intérieur, carrelage, plomberie, sanitaire, chauffage, décoration, peinture ou anénagement extérieur.</span>
            </div>
            <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-center hover-block8 wow fadeInUp" data-wow-delay="2s">
                <div class="img-offre">
                    <img src="../../../assets/img/prix.svg">
                </div>
                <p>PRIX COMPTETIFS</p>
                <span>parce que votre budget n'est pas illmité, les négoces en matériaux de construction.., adhérents starmat, vous proposent des devis gratuits pour tous vos projets : assainissement, gros-oeuvre, isolation, cloison, couverture, charpente, menuiserie extérieur ou menuiserie intérieur, carrelage, plomberie, sanitaire, chauffage, décoration, peinture ou anénagement extérieur.</span>
            </div>
        </div>

    </div>
</section>