<section class="boutique boutique-jaune ">

    <div class=" boutiqueLogo ">
        <div class="boutique-logo">
            <p>DESTOCKAGE</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <div class="devis-boutique ">
            <a href="# ">
                            Demander un devis
                            <img src="../../../assets/img/arrow-gris.png ">
                    </a>
        </div>

    </div>
</section>