<div class="border-div ">

    <div class="row ">
        <div class="col-lg-6 col-6 col-sm-6 col-md-6 ">
            <img src="../../../assets/img/ingco.svg ">
        </div>
        <div class="col-lg-6 col-6 col-sm-6 col-md-6 text-right ">
            <div class="font-heart">
                <fa name="heart"></fa>
            </div>
        </div>

    </div>
    <div class="text-center ">
        <img src="../../../assets/img/truelle.svg ">
    </div>
    <div class="text-center MECANIQUE ">
        <p>TRUELLE MECANIQUE</p>
        <span>INGCO</span>

    </div>
    <div class="prix ">
        <div class="row ">

            <div class="col-lg-6 col-6 col-sm-6 col-md-6 remise ">
                <p class="mt-1 ">Réf : GPT36</p>
            </div>
            <div class="col-lg-6 col-6 col-sm-6 col-md-6 panier d-flex ">
                <div class="mt-1 ">
                    <span> 609.90€</span>

                </div>
                <div class="panier-img ">
                    <img src="../../../assets/img/panier.svg ">

                </div>
            </div>

        </div>
    </div>
</div>