<section class="materiel">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="besoin-materiaux wow fadeInLeft">
          <h3>Besoins des Matériaux</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam available.
          </p>
          <div class="demande-devis2">
            <a href="#">Demande de devis</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 carousel-materiel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="owl-item">
              <div class="materiaux">
                <div class="text-center">
                  <img src="../../../assets/img/construction.png" />
                </div>
                <p>Matériaux de Constructions</p>
                <span
                  >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam.</span
                >
                <a href="#" class="mt-2">
                  <div class="text-center">
                    <img src="../../../assets/img/next.png" />
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="owl-item">
              <div class="materiaux">
                <div class="text-center">
                  <img src="../../../assets/img/finition.png" />
                </div>
                <p>Matériaux de Finitions</p>
                <span
                  >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam.</span
                >
                <a href="#" class="mt-2">
                  <div class="text-center">
                    <img src="../../../assets/img/next.png" />
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="owl-item">
              <div class="materiaux">
                <div class="text-center">
                  <img src="../../../assets/img/employee.png" />
                </div>
                <p>Business Developer</p>
                <span
                  >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam.</span
                >
                <a href="#" class="mt-2">
                  <div class="text-center">
                    <img src="../../../assets/img/next.png" />
                  </div>
                </a>
              </div>
            </div>
          </ng-template>

          <div class="owl-dots disabled">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
          </div>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
