<section class="camion-btpmat">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 wow fadeInLeft col-md-6 img-camion">
                <img src="../../../assets/img/camion.png">
            </div>
            <div class="col-lg-5 wow fadeInRight col-md-6 EVERYWHERE">
                <span class="">WE ARE EVERYWHERE</span>
                <div class="provide">
                    <h2>WE PROVIDE EXTENDED WARRANTIES FROM <span>LEADING INDUSTRY SUPPLIERS.</span></h2>

                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even variation passages slightly believable.</p>
                <div class="about-us">
                    <a href="#">ABOUT US</a>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>