<section class="industrie ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-4 gamme-complete ">
                <div class=" ">
                    <img src="../../../assets/img/gamme-compléte.svg ">
                </div>
                <p>La gamme la plus <span>complète</span> de L'industrie</p>
            </div>
            <div class="col-lg-4 m-auto ">
                <img src="../../../assets/img/materiels.png ">
            </div>
            <div class="col-lg-4 pr-0 ">
                <img src="../../../assets/img/Chignole.png ">
            </div>
        </div>
    </div>
</section>