<section class="solution1">
    <div class="">
        <img src="../../../assets/img/solution1.png" alt="">
    </div>
</section>
<section class="international1">
    <div class="container">

        <div class="">
            <div class="btp-inter">
                <h3>BTPMAT International</h3>
                <p>Profitez de notre expérience dans le domaine du transit et confiez vos importations a netti-ci (nouvelle entreprise de transport et de transit international en côte d’ivoire). créée afin de faciliter les importations depuis les marchés
                    du monde entier vers votre chantier directement, netti-ci vous s’occupera du chargement et de l’acheminement de vos matériaux via son bureau de transit. chere client, notez que lors de vos commandes sur btpmat, les montants communiqués
                    sont toujours toutes taxes comprises, vous ne serez jamais facturés de taxes supplémentaires...</p>
                <p>cependant, netti-ci peut aussi bien s’occuper des démarches douanières de vos importations via son burau de transit. n’hésitez pas a nous contacter et profitez pleinement de notre expérience et nos offres. </p>
                <p>pour en savoir plus sur netti-ci, <a href="#">cliquez ici </a></p>
                <p>ou contactez notre service clientelle au +225 22 51 36 36</p>

            </div>
        </div>
    </div>


</section>