<div class="profile" style="display: block;">
    <p>Home / Dashboard / <span>Profile</span></p>
    <div class="profile-info">
        <p>Mes Informations personnels</p>
    </div>
    <div class="row"  *ngIf="user$ | async as user; else loading">
        <div class="col-lg-7">
            <form  [formGroup]="editForm" (ngSubmit)="saveUser(editForm)">
                <fieldset>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>FIRST NAME</label>
                        <input type="text" class="form-control" id="inputEmail4" type="text"
                        placeholder="firstName (required)"
                        [formControl]="editForm.controls['firstName']" placeholder="{{user.personalInfo.firstName}}" name="firstName"
                        [ngClass]="{'is-invalid': formError.firstName }">
                        <span class="invalid-feedback">
                            {{formError.firstName}}
                          </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">LAST NAME</label>
                        <input type="text" class="form-control" id="inputPassword4" type="text"
                        placeholder="lastName (required)"
                        [formControl]="editForm.controls['lastName']" placeholder="{{user.personalInfo.lastName}}" name="lastName"
                        [ngClass]="{'is-invalid': formError.lastName }">
                        <span class="invalid-feedback">
                            {{formError.lastName}}
                          </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">ADDRESS</label>
                    <input type="text" class="form-control" id="inputAddress"   
                    placeholder="address (required)"
                    [formControl]="editForm.controls['address']" placeholder="{{user.country}}" name="address"
                    [ngClass]="{'is-invalid': formError.address }">
                    <span class="invalid-feedback">
                        {{formError.address}}
                      </span>
                </div>
                <div class="form-row coutry">
                    <div class="form-group col-md-6 select-country " *ngIf="countries$ | async as countries">
                        <label for="inputState">Country</label>
                        <select id="inputState" class="form-control " >
                            <option selected="">Select your country</option>
                            <option *ngFor="let country of countries">{{country.name}}</option>
    </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">CITY</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 code-postal">
                        <label for="inputState">POSTAL CODE</label>
                        <select id="inputState" class="form-control">
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">PHONE</label>
                        <input type="text" class="form-control" id="inputCity"
                        placeholder="phone (required)"
                        [formControl]="editForm.controls['phone']" placeholder="{{user.phone}}" name="phone"
                        [ngClass]="{'is-invalid': formError.phone }">
                        <span class="invalid-feedback">
                            {{formError.phone}}
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">EMAIL</label>
                        <input type="text" class="form-control" id="inputCity"
                   
                        [formControl]="editForm.controls['email']" placeholder="{{user.email}}" name="email"
                        [ngClass]="{'is-invalid': formError.email }">
                        <span class="invalid-feedback">
                            {{formError.email}}
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">PASSWORD</label>
                        <input type="password" class="form-control" id="inputCity" >
                    </div>
                </div>
                <div class="save">
                    <button  type="submit" class="btn btn-primary" >Save</button>
                </div>
            </fieldset>
            </form>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>


<ng-template #loading>
    loading...
</ng-template>
